@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style
*	Edit this section
*
* ======================================================= */
html.fh5co-overflow, body.fh5co-overflow {
  overflow-x: auto;
}


html.fh5co-overflow #fh5co-header-section,
html.fh5co-overflow #fh5co-mobile-menu,
body.fh5co-overflow #fh5co-header-section,
body.fh5co-overflow #fh5co-mobile-menu  {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body {
  font-family: "Roboto", Arial, serif;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 300;
  padding-top: 18rem;
}

a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #F03861;
  border-bottom: 2px solid transparent;
}

a:hover, a:focus, a:active {
  outline: none;
  text-decoration: none;
  color: #F03861;
}

input {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

p, span {
  font-size: 20px;
  color: #727272;
  font-weight: 300;
}

span {
  font-size: 18px;
  color: rgba(114, 114, 114, 0.8);
}

li {
  list-style-type: none;
}


h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto", Arial, serif;
  font-weight: 300;
  margin: 0 0 30px 0;
}

figure {
  display: block;
  height: 200px;
  max-height: 200px;
  padding: 10px;
  vertical-align: middle;
}

figure img {
  height: 100%;
  max-height: 100%;
}

.product figure img {
  height: auto;
  max-height: none;
}

::-webkit-selection {
  color: #fcfcfc;
  background: #f56f8d;
}

::-moz-selection {
  color: #fcfcfc;
  background: #f56f8d;
}
::selection {
  color: #fcfcfc;
  background: #f56f8d;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary {
  background: #F03861;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #F03861;
}
.btn:hover, .btn:active, .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

.heading-section {
  margin-bottom: 5em;
}
.heading-section h2 {
  position: relative;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}
.heading-section h2:before {
  position: absolute;
  content: '';
  top: -15px;
  left: 50%;
  margin-left: -15px;
  width: 20px;
  height: 3px;
  background: #F03861;
}

header {
  background-color: rgba(42, 46, 91, 1);
  padding-top: 1em;
}
header .fh5co-navbar-brand {
  padding-bottom: 1em;
}
header .fh5co-navbar-brand .fh5co-logo {
  display: block;
  background: url('../images/F45_sweats_logo.png') center no-repeat;
  height: 8rem;
  margin: 0 0 2rem 0;
  text-indent: -9999999px;
}




header .fh5co-navbar-brand #fh5co-sliding-nav-left > ul, header .fh5co-navbar-brand #fh5co-sliding-nav-right > ul {
  margin-top: 25px;
  -webkit-padding-end: 40px !important;
}

header .fh5co-navbar-brand #fh5co-sliding-nav-left > ul li, header .fh5co-navbar-brand #fh5co-sliding-nav-right > ul li, #fh5co-login-mobile  > ul li{
  border-right: 1px solid #878787;
  list-style: none;
  display: inline-block;
  margin-left: 15px;
  padding-right: 20px;
  font-size: 18px;
}

header .fh5co-navbar-brand #fh5co-sliding-nav-left > ul li:last-child, header .fh5co-navbar-brand #fh5co-sliding-nav-right > ul li:last-child {
  border: none;
}

header .fh5co-navbar-brand #fh5co-sliding-nav-left > ul li a, header .fh5co-navbar-brand #fh5co-sliding-nav-right > ul li a, #fh5co-login-mobile  > ul li a{
  padding-bottom: 5px;
  position: relative;
  font-weight: 100;
  color: #fff;
}

header .fh5co-navbar-brand #fh5co-sliding-nav-right > ul li a span, #fh5co-login-mobile  > ul li a span {
  color: #5E65CA;
}

header .fh5co-navbar-brand #fh5co-sliding-nav-right > ul li a:hover span, #fh5co-login-mobile  > ul li a:hover span{
  color: rgba(200, 37, 32, 1);
}


header .fh5co-navbar-brand #fh5co-sliding-nav-left > ul li:last-child, header .fh5co-navbar-brand #fh5co-sliding-nav-right > ul li:last-child {
  border: none;
  margin-right: 15px;
}

header .fh5co-navbar-brand #fh5co-sliding-nav-right > ul li a span.label{
  background-color: rgba(200, 37, 32, 1);
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  margin-top: -40px;
  position: absolute;
  padding: 5px ;
}

/* MAIN MENU */

header #fh5co-menu-wrap {
  border-top: 1px solid #5E65CA;
  margin: 0;
}

header #fh5co-menu-wrap .sf-menu a {
  color: #fff;
  border-bottom: none !important;
}
header #fh5co-menu-wrap .sf-menu a:hover {
  color: #5E65CA !important;
}
header #fh5co-menu-wrap .sf-menu li.active > a {
  color: #5E65CA !important;
}
header #fh5co-menu-wrap > .sf-menu > li > a {
  padding-top: 2em;
  padding-bottom: 2em;
}







.owl-carousel, .owl-stage-outer {
  max-height: 450px !important;
}

.owl-carousel img {
  background: center center;
}

/* Owl Override Style */
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -29px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: 40px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
  margin-right: -10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: 40px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
  margin-left: -10px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: -50px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: 0px;
  }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: -50px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    left: 0px;
  }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #000;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  font-size: 50px;
  color: #fff;
}
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #fff;
}

.owl-carousel .owl-controls .owl-nav .owl-next i,
.owl-carousel .owl-controls .owl-nav .owl-prev i {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.3);
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel .owl-controls .owl-nav .owl-prev:hover i {
  color: rgba(0, 0, 0, 0.6);
}

.owl-carousel .owl-controls .owl-nav .owl-next:hover {
  margin-right: -10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev:hover {
  margin-left: -10px;
}

.owl-carousel .owl-dots {
  display: none !important;
}
@media screen and (max-width: 992px) {
  .owl-carousel .owl-dots {
    display: block !important;
  }
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 30px;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
  background: none !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: 40px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
}

.item {
  position: relative;
}
.item .pop-up-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(240, 56, 97, 0.8);
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.item .pop-up-overlay.pop-up-overlay-color-2 {
  background: rgba(248, 125, 9, 0.8) !important;
}
.item .pop-up-overlay.pop-up-overlay-color-3 {
  background: rgba(23, 231, 164, 0.8) !important;
}
.item .pop-up-overlay.pop-up-overlay-color-4 {
  background: rgba(249, 197, 53, 0.8) !important;
}
.item .pop-up-overlay .desc {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: -60px;
  padding: 30px;
}
.item .pop-up-overlay .desc h3 {
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;
}
.item .pop-up-overlay .desc span {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}
.item .pop-up-overlay:hover, .item .pop-up-overlay:focus {
  text-decoration: none;
}
.item:hover .pop-up-overlay, .item:focus .pop-up-overlay {
  opacity: 1;
}

.js .animate-box {
  opacity: 0;
}




/*
//////////////////////////////////////////////////////

FREE HTML5 TEMPLATE
DESIGNED & DEVELOPED by FREEHTML5.CO

CREDITS:
Bootstrap
jQuery
Themify Icons

//////////////////////////////////////////////////////
*/






/* Header */
#fh5co-header-section {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  left: 0 !important;
  right: 0;
  z-index: 103;
}
#fh5co-header-section.fh5co-scrolled {
  background: rgba(200, 37, 32, 1);
  background: white;
  -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}

#fh5co-header-section.fh5co-scrolled #fh5co-menu-wrap .sf-menu a {
  color: #2e2e2e;
  border-bottom: none !important;
}

/* Superfish Override Menu */
.sf-menu {
  margin: 0 auto !important;
}

.sf-menu ul {
  border: transparent;
  min-width: 100%;
  *width: 100%;
}

.sf-menu a {
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  letter-spacing: 1px;
  border-left: none;
  border-top: none;
  border-top: none;
  text-decoration: none;
  zoom: 1;
  font-size: 13px;
  border-bottom: none !important;
}

.sf-menu li,
.sf-menu ul li,
.sf-menu ul ul li,
.sf-menu li:hover,
.sf-menu li.sfHover {
  background: transparent;
}

.sf-menu ul li a,
.sf-menu ul ul li a {
  text-transform: none;
  letter-spacing: 1px;
}

.sf-menu li:hover a,
.sf-menu li.sfHover a,
.sf-menu ul li:hover a,
.sf-menu ul li.sfHover a,
.sf-menu li.active a {
  color: #ffffff;
}

.sf-menu ul li:hover,
.sf-menu ul li.sfHover {
  background: transparent;
}

.sf-menu ul li {
  background: transparent;
}

.sf-arrows .sf-with-ul {
  padding-right: 2.5em;
  *padding-right: 1em;
}

.sf-arrows .sf-with-ul:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -3px;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #ccc;
}

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: #ccc;
}

.sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #ccc;
}

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: #ccc;
}

#fh5co-menu-wrap .sf-menu a {
  padding: 2em 2em 2em 2em;
}

#fh5co-primary-menu > li > ul li.active > a {
  color: #28bbf8 !important;
}
#fh5co-primary-menu > li > .sf-with-ul:after {
  border: none !important;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  float: right;
  margin-right: 5px;
  top: 50%;
  margin-top: -7px;
  content: "\f063";
  color: rgba(200, 37, 32, 1);
}
#fh5co-primary-menu > li > ul li > .sf-with-ul:after {
  border: none !important;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  float: right;
  margin-right: 10px;
  top: 13px;
  font-size: 12px;
  content: "\f061";
  color: rgba(200, 37, 32, 1);
}

#fh5co-primary-menu .fh5co-sub-menu {
  padding: 7px 0px 3px 0px;
  background: rgba(255, 255, 255, 0.8);
}

#fh5co-primary-menu .fh5co-sub-menu:before {
  position: absolute;
  top: -9px;
  right: 20px;
  width: 0;
  height: 0;
  content: '';
}


#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:before {
  top: 6px;
  right: 100%;
}

#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:after {
  top: 7px;
  right: 100%;
  border: none !important;
}

.site-header.has-image #primary-menu .sub-menu {
  border-color: #ebebeb;
  box-shadow: 0 0 0 1px rgba(42, 46, 91, 0.5);
}

.site-header.has-image #primary-menu .sub-menu:before {
  display: none;
}

#fh5co-primary-menu .fh5co-sub-menu a {
  letter-spacing: .5px;
  padding: 0 15px;
  font-size: 14px;
  line-height: 3rem;
  color: rgba(42, 46, 91, 1) !important;
  font-weight: 900;
  text-transform: uppercase;
}

#fh5co-primary-menu .fh5co-sub-menu a:hover {
  color: #28bbf8 !important;
}

/* Mobile Menu */
#fh5co-mobile-menu-btn {
  padding: 8px 12px 4px 12px;
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  display: table;
  color: rgba(42, 46, 91, 1);
}
#fh5co-mobile-menu-btn span {
  color: rgba(42, 46, 91, 1);
}

#fh5co-mobile-menu {
  -moz-transform: translateX(-275px);
  -webkit-transform: translateX(-275px);
  -ms-transform: translateX(-275px);
  transform: translateX(-275px);
  display: block;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  font-size: 16px;
  top: 0;
  width: 275px;
  z-index: 10002;
  background-color: #fff;
  padding: 0.75em 1.25em;
  box-shadow: 1px 0px 5px rgba(42, 46, 91, 0.5);
}
#fh5co-mobile-menu #fh5co-mobile-menu-ul {
  padding: 0;
  margin: 0;
}
#fh5co-mobile-menu #fh5co-mobile-menu-ul li {
  list-style: none;
  border-bottom: 1px solid rgba(42, 46, 91, 1);
}
#fh5co-mobile-menu #fh5co-mobile-menu-ul li:last-child {
  border:none;
}

#fh5co-mobile-menu #fh5co-mobile-menu-ul li.active > a {
  color: rgba(42, 46, 91, 1);
}
#fh5co-mobile-menu #fh5co-mobile-menu-ul a {
  border-bottom: none !important;
  padding: 7px 0;
  display: block;
  color: rgba(42, 46, 91, 1);
}
#fh5co-mobile-menu #fh5co-mobile-menu-ul a:hover {
  color: rgba(200, 37, 32, 1);
}
#fh5co-mobile-menu #fh5co-mobile-menu-ul .fh5co-sub-ddown {
  position: relative;
}
#fh5co-mobile-menu #fh5co-mobile-menu-ul .fh5co-sub-ddown:after {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 0;
  margin-top: 2px;
  font-family: 'icomoon';
  content: "\f063";
  color: rgba(200, 37, 32, 1);
}
#fh5co-mobile-menu #fh5co-mobile-menu-ul .fh5co-sub-menu {
  display: none;
  padding-left: 20px;
}
#fh5co-mobile-menu #fh5co-mobile-menu-ul .fh5co-sub-menu li {
  list-style: none;
}

#fh5co-logo-mobile-wrap {
  display: block;
  height: 44px;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10001;
  background: rgba(42, 46, 91, 1);
  color: #2e2e2e;
  -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#fh5co-logo-mobile-wrap {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

#fh5co-login-mobile-wrap {
  position: absolute;
  height: 4rem;
  margin: .5rem 0 0 0;
  right: 0px;
  z-index: 9999999;
}

#fh5co-login-mobile-wrap {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

#fh5co-logo-mobile-wrap h1 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
#fh5co-logo-mobile-wrap h1 a {
  border-bottom: none !important;
  color: #2e2e2e;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#fh5co-logo-mobile {
  display: block;
  background: url('../images/f45LogoTransparent.png') center no-repeat;
  background-size: 60px;
  height: 4rem;
  text-indent: -9999999px;
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

body.fh5co-mobile-menu-visible #fh5co-logo-mobile {
  -moz-transform: translateX(-75px);
  -webkit-transform: translateX(-75px);
  -ms-transform: translateX(-75px);
  transform: translateX(-75px);
}


#fh5co-login-mobile  > ul li a span.label {
  background-color: rgba(200, 37, 32, 1);
  border-radius: 50%;
  color: #fff;
  font-size: 8px;
  margin: -30px 0 0 10px;
  position: absolute;
  padding: 4px ;

}


body.fh5co-mobile-menu-visible #fh5co-login-mobile-wrap,
body.fh5co-mobile-menu-visible #fh5co-logo-mobile-wrap {
  -moz-transform: translateX(275px);
  -webkit-transform: translateX(275px);
  -ms-transform: translateX(275px);
  transform: translateX(275px);
}



body.fh5co-mobile-menu-visible #fh5co-mobile-menu {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}


.section {
  padding: 7rem 0;
}

#fh5co-login-section input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  color: rgba(0, 0, 0, 0.9);
}

#fh5co-products-section .btn-filters, #fh5co-login-section .btn-filters  {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 1) !important;
}

#fh5co-products-section .btn-filters:hover,
#fh5co-login-section .btn-filters:hover,
#fh5co-products-section .btn-filters:focus,
#fh5co-login-section .btn-filters:focus,
#fh5co-products-section .btn-filters:active,
#fh5co-login-section .btn-filters:active{
  background-color: rgba(200, 37, 32, 1) !important;
  border: 1px solid rgba(200, 37, 32, 1);
  color: rgba(255, 255, 255, 0.9);
}

#fh5co-products-section .products {
  margin-bottom: 40px;
}

#fh5co-products-section .products p {
  margin-bottom: 5px;
}
#fh5co-products-section .products .featured {
  font-size: 14px;
  font-weight: 900;
  height: 12px;
  display: block;
  text-transform: uppercase;
}

#fh5co-products-section .products .featured.sale {
  color: rgba(200, 37, 32, 1);
}

#fh5co-products-section .products .featured.arrival {
  color: rgba(0, 0, 255, 0.8);
}

#fh5co-products-section .products .item-name a{
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-weight: 400;
}

#fh5co-products-section .products .item-category{
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: 300;
}

#fh5co-products-section .products .item-price{
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: 900;
}

#fh5co-essentials-section {
  background-color: rgba(250, 250, 250, .9);
}

#fh5co-essentials-section .essentials-box {
  background-color: rgba(200, 200, 200, .3);
  border: 5px solid rgba(250, 250, 250, .9);
  padding: 6rem 0 5rem 0;
}


#fh5co-newsletter-section {
  padding: 1rem 0;
}
#fh5co-newsletter-section h1 {
  margin: 0;
  padding-top: 1rem;
}

#fh5co-newsletter-section p{
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-top: .5rem;
}

#fh5co-newsletter-section form {
  padding-top: 1rem;
}

#fh5co-newsletter-section .email-newsletter {
  border: none;
  background-color: rgba(200, 200, 200, .3);
  font-size: 14px;
  padding: 10px 0 8px 40px;
}

#fh5co-newsletter-section .icon-envelope {
  font-size: 24px;
  color: rgba(42, 46, 91, 1);
  position: absolute;
  padding: .8rem;
}

#fh5co-newsletter-section .btn-newsletter {
  border: none;
  border-radius: 0px;
  background-color: rgba(42, 46, 91, 1);
  color: rgba(250, 250, 250, .9);
}

#fh5co-newsletter-section .btn-newsletter:hover,
#fh5co-newsletter-section .btn-newsletter:focus,
#fh5co-newsletter-section .btn-newsletter:active{
  background-color: rgba(200, 37, 32, 1) !important;
}

#fh5co-footer span, #fh5co-footer h4, #fh5co-footer a, #fh5co-footer p {
  color: #fff;
}

#fh5co-footer #footer-top span {
  font-size: 25px;
  margin-right: 1rem;
  padding: 5px;
  text-align: center;
  width: 35px;
}

#fh5co-footer #footer-top .contact span {
  font-size: 15px;
}


#fh5co-footer #footer-top h4 {
  padding: .6rem 0 0 0;
  margin: 0;
}

#fh5co-footer #footer-top p {
  color: rgba(200, 200, 200, 1);
  font-weight: 100;
  font-size: 14px;
  margin-top: -.1rem;
}


#fh5co-footer #footer-top {
  background-color: rgba(42, 46, 91, 1);
  padding: 8rem 0;
}

#fh5co-footer #footer-top ul {
  margin: 0 !important;
  margin-top: 2rem !important;
  padding: 0 !important;
}

#fh5co-footer #footer-top ul li {
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 1px;
  padding-bottom: .5rem;
}

#fh5co-footer #footer-bottom {
  background-color: rgba(24, 26, 53, 1);
}

#fh5co-footer #footer-bottom p {
  color: rgba(140, 140, 155, 1);
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 1px;
  padding-top: 2rem;
}

#fh5co-footer #footer-bottom ul.fh5co-social-icons, #fh5co-footer #footer-bottom ul.fh5co-cc-icons {
  margin: 0;
  padding: 0;
}

#fh5co-footer #footer-bottom ul.fh5co-social-icons li, #fh5co-footer #footer-bottom ul.fh5co-cc-icons li{
  display: inline-block;
  padding: 1.5rem 1.5rem 1.5rem 0;
}

#fh5co-footer #footer-bottom ul.fh5co-social-icons li:last-child, #fh5co-footer #footer-bottom ul.fh5co-cc-icons li:last-child{
  padding: 1.5rem 0rem 1.5rem 0;
}

#fh5co-footer .line {
  background-color: rgba(140, 140, 155, 1);
  display: block;
  height: 1px;
  margin-top: 1.5rem;
  margin-right: 1rem;
  width: 35px;
}


.divider {
  height: 1px;
  background-color: rgba(24, 26, 53, 1);
  margin: 5rem 0;
}



.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.padding-top-60 {
  padding-top: 60px;
}


.panel-heading {
  border-top: 1px solid #2e2e2e;
  border-bottom: 1px solid #2e2e2e !important;
  border-right: none;
  border-left: none;
  border-radius: 0px;
}

span.icon-plus:before {
  color: rgba(0, 0, 0, 1);
}

.panel-heading .panel-title h4 a,
.panel-heading .panel-title h4 a:hover,
.panel-heading .panel-title h4 a:active,
.panel-heading .panel-title h4 a:focus{
  font-weight: 500 !important;
  color: rgba(0, 0, 0, 1);
}

.panel-body .checkbox label {
  font-size: 14px;
  font-weight: 300;
}

#fh5co-login-section {
  padding: 10rem 0 20rem 0;
}


@media screen and (max-width: 768px) {
  .owl-carousel, .owl-stage-outer {
    margin-top: 4rem;
  }
  body {
    padding-top: 0.2rem;
  }

}

@media screen and (max-width: 1024px) {
  header .fh5co-navbar-brand #fh5co-sliding-nav-left > ul {
    padding: 0;
    -webkit-padding-end: 0px !important;
  }

  header .fh5co-navbar-brand #fh5co-sliding-nav-left > ul li {
    padding-right: 10px;
  }

  header .fh5co-navbar-brand #fh5co-sliding-nav-left > ul li a {
    font-size: 14px;
  }
}

@media screen and (max-width: 1280px) {
  header .fh5co-navbar-brand #fh5co-sliding-nav-left > ul {
    padding: 0;
    -webkit-padding-end: 20px !important;
  }
}

/* base styles */

input[type="checkbox"] {
  height: 1.2em;
  width: 1.2em;
  vertical-align: middle;
  margin: 0 0.4em 0.4em 0;
  border: 1px solid rgba(0, 0, 0, 0.7);
  background: #fff;
  -webkit-appearance: none;
  -webkit-transition: box-shadow 200ms;
  box-shadow:inset 1px 1px 0 #fff, 0 1px 1px rgba(0,0,0,0.1);
}

/* border radius for checkbox */
input[type="checkbox"] {
  -webkit-border-radius:2px;
  border-radius:1px;
  margin-left: -30px !important;
}

/* hover state */
input[type="checkbox"]:not(:disabled):hover {
  border-color:rgba(0,0,0,0.5);
  box-shadow:inset 1px 1px 0 #fff, 0 0 4px rgba(0,0,0,0.3);
}

/* active state */
input[type="checkbox"]:active:not(:disabled) {
  background-image: -webkit-linear-gradient(#C2C2C2, #EFEFEF);
  box-shadow:inset 1px 1px 0 rgba(0,0,0,0.2), inset -1px -1px 0 rgba(255,255,255,0.6);
  border-color:rgba(0,0,0,0.5);
}

/* focus state */
input[type="checkbox"]:focus {
  outline:none;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* input checked border color */
input[type="checkbox"]:checked {
  border-color:rgba(0, 0, 0, 0.5)
}

/* checkbox checked */
input[type="checkbox"]:checked:before {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  content: '\2713';
  -webkit-margin-start: 0;
  margin-left: 2px;
  font-size: 0.9em;
}

/* disabled input */
input:disabled {
  opacity: .6;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.1);
  box-shadow:none;
}

/* style label for disabled input */
input:disabled + label {
  opacity: .6;
  cursor:default;
  -webkit-user-select: none;
}

nav .pagination {
  margin: 0px;
}
.pagination > li > a, .pagination > li > span,
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: 0px;
  color: rgba(0, 0, 0, 0.5);
  padding: 5px 15px;
  font-size: 12px;
}

.pagination > li > a, .pagination > li > span {
  padding: 11px 15px 7px 15px;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  background-color: rgba(42, 46, 91, 1);
  color: rgba(140, 140, 155, 1);
}

.row-slide-right {
  opacity: 1;

  -moz-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;

  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.row-slide-right-second {
  opacity: 1;

  -moz-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;

  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.row-slide-right-third {
  opacity: 1;

  -moz-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;

  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.row-slide-right-active {
  opacity: 0;

  -moz-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;

  -moz-transform: translate3d(2000px, 0px, 0px);
  -webkit-transform: translate3d(2000px, 0px, 0px);
  -o-transform: translate(2000px, 0px);
  -ms-transform: translate(2000px, 0px);
  transform: translate3d(2000px, 0px, 0px);
}
.row-slide-right-second-active {
  opacity: 0;

  -moz-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;

  -moz-transform: translate3d(2000px, 0px, 0px);
  -webkit-transform: translate3d(2000px, 0px, 0px);
  -o-transform: translate(2000px, 0px);
  -ms-transform: translate(2000px, 0px);
  transform: translate3d(2000px, 0px, 0px);
}
.row-slide-right-third-active {
  opacity: 0;

  -moz-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;

  -moz-transform: translate3d(2000px, 0px, 0px);
  -webkit-transform: translate3d(2000px, 0px, 0px);
  -o-transform: translate(2000px, 0px);
  -ms-transform: translate(2000px, 0px);
  transform: translate3d(2000px, 0px, 0px);
}

.row-slide-left {
  opacity: 0;

  margin-top: -440px !important;
  border-color: #ddd !important;

  -moz-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;

  -moz-transform: translate3d(-2000px, 0px, 0px);
  -webkit-transform: translate3d(-2000px, 0px, 0px);
  -o-transform: translate(-2000px, 0px);
  -ms-transform: translate(-2000px, 0px);
  transform: translate3d(-2000px, 0px, 0px);
}
.row-slide-left-second {
  opacity: 0;

  margin-top: -340px !important;
  border-color: #ddd !important;

  -moz-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;

  -moz-transform: translate3d(-2000px, 0px, 0px);
  -webkit-transform: translate3d(-2000px, 0px, 0px);
  -o-transform: translate(-2000px, 0px);
  -ms-transform: translate(-2000px, 0px);
  transform: translate3d(-2000px, 0px, 0px);
}
.row-slide-left-third {
  opacity: 0;

  margin-top: -340px !important;
  border-color: #ddd !important;

  -moz-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;

  -moz-transform: translate3d(-2000px, 0px, 0px);
  -webkit-transform: translate3d(-2000px, 0px, 0px);
  -o-transform: translate(-2000px, 0px);
  -ms-transform: translate(-2000px, 0px);
  transform: translate3d(-2000px, 0px, 0px);
}

.row-slide-left-active {
  opacity: 1;

  -moz-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;

  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.row-slide-left-second-active {
  opacity: 1;

  -moz-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;

  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.row-slide-left-third-active {
  opacity: 1;

  -moz-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;

  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

#fh5co-product-section label {
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
}

#fh5co-product-section select, #fh5co-product-section textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px !important;
  color: rgba(0, 0, 0, 0.9);
}

#fh5co-product-section .btn-filters  {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 1) !important;
}

#fh5co-product-section .btn-filters:hover,
#fh5co-product-section .btn-filters:focus,
#fh5co-product-section .btn-filters:active{
  background-color: rgba(200, 37, 32, 1) !important;
  border: 1px solid rgba(200, 37, 32, 1);
  color: rgba(255, 255, 255, 0.9);
}

.borderless td, 
.borderless th {
    border: none;
}

.order-prod-total , 
.order-prod-price , 
.order-prod-qty , 
.order-prod-size , 
.order-prod-color , 
.order-prod-custom , 
.order-prod-code , 
.order-prod-name , 
#fh5co-product-section p , b {
  font-size: 16px !important;
}

.img-item-icon {
  height: 30px;
  width: auto;
}

.order-item {
  padding-top: 15px;
}

#fh5co-products-section .icon-search{
  font-size: 24px;
  position: absolute;
  padding: .8rem;
}
.search-input {
  padding: 1px 0 3px 35px;
  line-height: 32px;
}
.btn-search {
  border: none;
  border-radius: 0;

}

#toast-container {
  position: absolute !important;
}

.toast-center {
  width: 350px;
  top: 50%;
  right: 50%;
  margin-right: -175px;
  margin-top: -50px;
}

.display-mobile{
  display: none;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .col-xs-0 {
      display: none;
    }

    .display-mobile{
      display: block;
    }
}



